.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  letter-spacing: 1.8px;
  background-color: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  max-height: 45px;
  outline: none; }

.accordion-1 {
  border: none;
  height: 44px; }

.accordion-2, .accordion-border {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: black; }

.accordion-span {
  position: relative;
  top: -6px;
  left: 1px;
  width: 280px; }

.current {
  color: white;
  background-color: black; }

body {
  background: white;
  color: #323232;
  margin-left: 0px; }

#care-tab {
  border-right: 1px solid black; }

#care-content {
  font-size: 13px;
  width: 669px;
  max-width: 95%;
  margin-top: 51px;
  margin-left: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 124%;
  opacity: 0; }

.care-panel {
  font-family: "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 1.24;
  margin-top: -4px; }

.content {
  margin: auto;
  max-width: 700px;
  width: 100%;
  overflow: text;
  color: #323232; }

#desktop-view {
  margin: auto; }

#fit-guide-content {
  font-size: 13px;
  max-width: 669px;
  margin-top: 51px;
  margin-left: 10px;
  line-height: 130%;
  text-align: center;
  font-family: "Open Sans", sans-serif; }

#fit-guide-tab {
  border-right: 1px solid black; }

.fit-panel {
  font-family: "Helvetica", sans-serif;
  font-size: 13px;
  margin-top: -4px;
  line-height: 1.24; }

.hidden {
  opacity: 0;
  display: none; }

#nav-bar {
  margin: auto;
  margin-top: 75px;
  width: 543px;
  height: 36px;
  border: 1px solid black; }

#materials-content {
  width: 670px;
  max-width: 95%;
  display: inline-block;
  margin-top: 53px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 130%;
  margin-left: 8px; }

#materials-content-mobile {
  display: inline-block;
  margin-top: -2px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 1.3;
  margin-left: 8px;
  max-width: 98%;
  margin-left: 4px; }

#mobile-view {
  display: none; }

.minus {
  width: 9px;
  height: 3px;
  border-bottom: 1px solid black;
  float: right;
  left: -2px;
  position: relative; }

.mobile-under-border {
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 15px; }

.panel {
  padding: 0 18px;
  max-height: 4px;
  overflow: hidden;
  transition: max-height 0.4s ease;
  -webkit-transition: max-height 0.4s ease; }

.panel-text {
  text-align: center; }

#percentages-wrapper {
  width: 480px;
  margin: auto;
  opacity: 0; }

.percentages-panel {
  margin-top: -18px; }

.percentages {
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  float: left;
  width: 33%; }

.percentages-mobile {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  float: left;
  width: 33.3%;
  margin-top: 16px;
  margin-bottom: 0px; }

.percentages-sub {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  float: left;
  width: 33%;
  font-size: 21px;
  margin-top: -7px;
  margin-bottom: 0px; }

.percentages-sub-mobile {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  display: inline-block;
  width: 33%;
  font-size: 14px;
  position: relative;
  margin-left: -2px;
  top: -21px; }

.plus {
  height: 9px;
  border-left: 1px solid black;
  position: relative;
  float: right;
  right: -3px;
  top: -1px; }

.tabs {
  cursor: pointer;
  width: 181px;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  float: left;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  vertical-align: text-top;
  line-height: 36px;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease; }

#underscore {
  border-bottom: 1px solid black;
  width: 44px;
  margin-left: 215px;
  margin-top: 151px;
  position: absolute; }

#underscore-mobile {
  width: 44px;
  border-bottom: 1px solid black;
  position: relative;
  margin: auto;
  top: -19px;
  left: -1px; }

.visible {
  opacity: 1; }

.overlay {
  position: absolute;
  top: 0;
  margin: auto;
  z-index: 2;
  width: 320px;
  height: 460px;
  pointer-events: none; }

.desk-overlay {
  position: absolute;
  top: 0;
  margin: auto;
  z-index: 2;
  width: 1400px;
  height: 500px;
  pointer-events: none; }

.desk-overlay-1 {
  background-image: url("desk-1.png"); }

.desk-overlay-2 {
  background-image: url("desk-2.png"); }

.desk-overlay-3 {
  background-image: url("desk-3.png"); }

.overlay1 {
  background-image: url("overlay.png"); }

.overlay2 {
  background-image: url("overlay2.png"); }

.overlay3 {
  background-image: url("overlay3.png"); }

@media only screen and (max-width: 555px) {
  #desktop-view {
    display: none; }

  #mobile-view {
    display: inherit;
    margin-top: 4px;
    position: relative;
    width: 100vw;
    height: 100vh; } }

/*# sourceMappingURL=style.css.map */
