// Your variable overrides
// Bootstrap and its default variables
@import "../bootstrap/scss/bootstrap";
@import "border";




body {
    font-size: 16px;

}

.container-fluid{
	@extend %color-border;
	height: 100px;
	max-width: 1200px;
}
