// Your variable overrides
// Bootstrap and its default variables
@import "../bootstrap/scss/bootstrap";
@import "border";

// COLORS
$border-color: #e4e4e4;


body {
    font-size: 16px;

}

.container-fluid{
	// @extend %color-border;
	// height: 100px;
	max-width: 1200px;
}

header{
	border-bottom: 2px solid $border-color;
	padding-bottom: 12px;
		@include media-breakpoint-up(sm) { 
		    padding-bottom: 1px;
		}
		@include media-breakpoint-up(md) { 
		    padding-bottom: 5px;
		}
		@include media-breakpoint-up(lg) { 
		    padding-bottom: 9px;
		}
	.bloom-logo{
		height: 61px;
		margin: 11px 0px 0px 1px;
			@include media-breakpoint-up(sm) { 
		    	height: 37px;
				margin-top: 8px;
		    }
		    @include media-breakpoint-up(md) { 
		    	height: 39px;
				margin-top: 14px;
		    }
		    @include media-breakpoint-up(lg) { 
		    	height: 52px;
				margin: 9px 0px 0px 28px;
		    }
	}
	.rates-logo{
		width: 227px;
		height: 38px;
		margin-top: -3px;
			@include media-breakpoint-up(sm) { 
		    	width: 140px;
		    	height: 30px;
				margin-top: -3px;
		    }
		    @include media-breakpoint-up(md) { 
		    	width: 147px;
		    	height: 26px;
				margin-top: -7px;
		    }
		    @include media-breakpoint-up(lg) { 
		    	width: 195px;
		    	height: 33px;
				margin: 19px 20px 0px 0px;
		    }
	}
}
